@import "tailwindcss";

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: #0f172a;
  }
  .dark {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
  body {
    @apply bg-[var(--background)] text-[var(--foreground)] transition-colors duration-300;
  }
}

@layer utilities {
  @keyframes dash {
    from {
      stroke-dashoffset: 24;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}
